$color__white: #fff;
$color__red: #E42217;
$color_strong_blue: #0274be;
$color_light_blue: #9DBCD4;
$color_light_gray: #d3d3d3;
$color_medium_gray: #343434;
$color_dark_gray: #202529;
$color_black: #000;

